body{
    background-color: burlywood;

}
h1{
    letter-spacing: 25px;
    font-variant: inherit;
    text-align: center;
}
p{
    background-color: brown;
    color: white;
    margin-top: 40px ;
    margin-right: 50px  ;
    margin-bottom: 40px  ;
    margin-left: 50px  ;
    border-top: 5px pink solid;
    border-right: 5px yellow solid;
    border-bottom: 5px green solid;
    border-left: 5px blue solid;
    padding-top: 30px;
    padding-right: 50px;
    padding-bottom: 30px;
    padding-left: 50px;


}
a{
    background-color: brown;
    color: white;
}
a:hover{
    text-decoration: underline;
}